<!-- voice_call_app/templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Voice Call</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
        <div class="call-form">
            <h2>Make a Call</h2>
            <label for="recipient">Recipient:</label>
            <input type="text" id="recipient" name="recipient">
            <div class="call-buttons">
                <button onclick="makeCall()">Call</button>
            </div>
        </div>
        <div id="call-notification" class="hidden"></div>
    </div>
</body>
</html>
