/* voice_call_app/static/main.css */

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.call-form {
    margin-top: 50px;
}

.call-buttons {
    margin-top: 10px;
}

.hidden {
    display: none;
}

#call-notification {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
